.footer {
  margin-top: 150px;
  padding: 32px 16px 48px 16px;
  background-color: #fafafa;

  @media (max-width: 768px) {
    margin-top: 50px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    margin: auto;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__section {
    @media (max-width: 768px) {
      margin-top: 16px;
    }
  }

  &__title {
    font-size: 24px;
    margin-bottom: 16px;
  }

  &__item {
    display: block;
    margin: 8px 0;
  }

  a {
    transition: color 0.2s linear;
  }

  a:hover {
    color: #ff7563;
  }
}
