.header {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1160px;
    margin: auto;
    font-size: 18px;
    padding: 16px 16px;
  }

  &__links {
    display: flex;
  }

  &__link {
    margin: 0 24px;
    transition: color 0.2s linear;

    &:hover {
      color: #ff7563;
    }
  }
}
