.link {
  padding: 12px 18px;
  border: solid 1px black;
  font-size: 18px;
  display: inline-block;
  transition: color 0.2s linear, border-color 0.2s linear;

  @media (max-width: 768px) {
    font-size: 16px;
  }

  &:hover {
    color: #ff7563;
    border-color: #ff7563;
  }
}
