.container {
  max-width: 760px;
  margin: auto;
  padding: 0 16px;
}

.hero {
  &__image {
    margin: 16px auto;
    max-width: 760px;

    @media (max-width: 768px) {
      margin-left: 0;
    }
  }

  &__title {
    font-size: 48px;
    margin-bottom: 16px;

    @media (max-width: 768px) {
      font-size: 30px;
    }
  }

  &__subtitle {
    font-size: 32px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 48px;

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  &--google-keep {
    background-color: #94b1d5;
  }

  &--peeled-orange {
    background-color: #ecd2ca;
  }

  &--nutriscan {
    background-color: #f3e4a7;
  }

  &--marmitas {
    background-color: #8bc1c5;
  }
}

.section {
  margin-top: 150px;

  &__title {
    text-align: center;
    font-size: 28px;
  }

  &__item {
    margin-top: 48px;
  }

  &--meta {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-column-gap: 10px;
    margin-top: 30px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    h3 {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 20px;

      @media (max-width: 768px) {
        font-size: 18px;
        margin-bottom: 0;
      }
    }

    p {
      margin-top: 12px;

      @media (max-width: 768px) {
        font-size: 16px;
        margin-bottom: 0;
      }
    }
  }

  &--overview-grid {
    display: grid;
    grid-template-columns: 150px 1fr;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    h4 {
      text-transform: uppercase;

      @media (max-width: 768px) {
        font-size: 18px;
        margin-bottom: 0;
      }
    }

    p {
      margin-top: 10px;

      @media (max-width: 768px) {
        font-size: 16px;
        margin-bottom: 0;
      }
    }
  }

  &--read-more {
    text-align: center;
  }
}
