.title {
  font-size: 48px;
  margin-bottom: 16px;
  margin-top: 150px;
}

.subtitle {
  font-size: 32px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 48px;
}

.sectionTitle {
  font-size: 24px;
}

.greyText {
  color: #9B9B9B;
}
