.hero {
  &__image {
    margin-left: calc((100vw - 760px) / 2);
    max-width: 500px;
  }

  &__title {
    font-size: 48px;
    margin-bottom: 16px;
    margin-top: 150px;
  }

  &__subtitle {
    font-size: 32px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 48px;
  }

  &--google-keep {
    background-color: #94b1d5;
  }

  &--peeled-orange {
    background-color: #ecd2ca;
  }

  &--nutriscan {
    background-color: #f3e4a7;
  }

  &--marmitas {
    background-color: #8bc1c5;
  }
}

.section {
  margin-top: 150px;

  &__title {
    text-align: center;
    font-size: 28px;
  }

  &__item {
    margin-top: 48px;
  }

  &--meta {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-column-gap: 10px;
    margin-top: 30px;

    h3 {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 20px;
    }

    p {
      margin-top: 12px;
    }
  }

  &--overview-grid {
    display: grid;
    grid-template-columns: 150px 1fr;

    h4 {
      text-transform: uppercase;
    }

    p {
      margin-top: 10px;
    }
  }

  &--read-more {
    button {
      background-color: red;
    }
  }
}
