.header {
  padding-top: 32px;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  margin: auto;

}

.headerLinksContainer {
  display: flex;
}

.headerLink {
  margin: 0 16px;
}
