.title {
  margin: 96px;
}

.project {
  display: flex;
  justify-content: space-between;
  margin: 96px 0;

  &:hover {
    text-decoration: none;
  }

  .projectImage {
    width: 45%;
  }

  .projectText {
    width: 45%;
  }
}
